<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset slug page</title>
</head>
<body>
    <h1>reset slug file page</h1>
    <form  method="POST">
        {% csrf_token %}
        <label for="password 1">Password</label>
        <input type="password" name="password1" placeholder="">
        <label for="password2">Password</label>
        <input type="Password" name="password2" id="">
        <input type="submit" value="Login" name="Login">
    </form>
</body>
</html>